
:root {
    --primary-color: #9A7E6F;
    --secondary-color: #3D3B40;
    --tertiary-color: #54473F;
    --background-color: #E0CCBE;
    --text-color: #333;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    width: 100%;
}

h1 {
    font-family: 'Arial', sans-serif; 
    font-size: 60px;
    color: #F3F3E0; 
    text-align: center; 
    margin-top: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 80px; 
    margin-top: 20px; 
    float: left;
}

/* Banner */
.banner {
    text-align: center;
    background-color: #E4E0E1;
    width: 60%;
    height: 300px;
    padding: 10%;
    margin-top: 20px;
    color: white;
}

.banner img {
    min-width: 100%;
    height: auto;
}


main {
    padding: 40px;
    width: 80%;
    max-width: 800px;
}

.section-content {
    text-align: center;
    margin: 40px 0;
}

.section-content h2 {
    color: var(--secondary-color);
    font-size: 2em;
    margin-bottom: 20px;
}

.section-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section-content img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 10px;
}

/* Rodapé */
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-esquerda {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1000px;
}

.footer-logo {
    width: 200px; 
    height: auto;
    margin-right: 20px;
}

.footer-info {
    text-align: center;
    flex-grow: 1;
}

.footer-info p {
    margin: 0% 0;
}

footer a {
    color: white;
    text-decoration: none;
}